@import url('../css/footer.css');

:root {
  --background-color: #171717;
  --light-gray: #202020;
  --laranja-principal: #fe9d00;
  --content-gray: #282828;
  --main-red: #893a43;
  --background: #efefef;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: var(--background);
  font-size: 1.6rem;
  transition: all 0.5s ease-in-out;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  background: var(--laranja-principal);
}

html ::-webkit-scrollbar-thumb:hover {
  background-color: #efab3c;
}

html ::-webkit-scrollbar-track {
  background: #ededed;
}

#container {
  margin: 0 auto;
  max-width: 1216px;
}

/* Animações =-=-=-=*/
/* Animação =-=-=-=--=-=-=-=-=-=-=-=-=-=-=*/
.hidden {
  opacity: 0;
  filter: blur(0.5rem);
  transform: translateX(-20rem);
  transition: all 1s;
  overflow-x: hidden;
}

.hidden-right {
  opacity: 0;
  filter: blur(0.5rem);
  transform: translateX(2rem);
  transition: all 1s;
  overflow-x: hidden;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: translateY(0);
  overflow-x: hidden;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Footer Top -=-=-=-=-==-=--=-=-=-=-=-*/
.footer-top {
  background-color: #fff;
}

.footer-top #container {
  padding: 3.7rem 0;
  border-top: 1px solid rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: space-between;
}

.footer-top-info-wrapper {
  display: flex;
  gap: 2.4rem;
}

.footer-top-info-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.footer-top-info-container h5 {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
}

.footer-top-info-container p {
  color: #787878;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-top-info-container img {
  max-height: 6rem;
}

.footer-top-text {
  display: none;
}

.footer-top-imgs {
  display: none;
}


