.logout-fretes-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-fretes {
    background-color: white;
    height: 42.5rem;
    width: 56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6.4rem 4.8rem;
}

.logout-fretes img {
    padding-bottom: 2rem;
    width: 15.6rem;
}

.logout-fretes h2 {
    font-size: 2.8rem;
    font-weight: 300;
}

.logout-fretes-text {
    padding-top: 3.2rem;
    padding-bottom: .8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: rgba(0, 0, 0, 0.7);
}

.logout-fretes-btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-fretes button, .logout-fretes a {
    padding: 1.6rem 2.4rem;
    font-family: 'Lexend', sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--laranja-principal);
    border: none;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.logout-fretes a {
    background-color: white;
    color: var(--laranja-principal);
    border: 2px solid var(--laranja-principal);
}

.logout-fretes a:hover {
    background-color: #fe9d002a;
}

.logout-fretes button:hover {
    background-color: var(--laranja-principal);
    opacity: .5;
}

@media screen and (max-width: 425px) {
    .logout-fretes-btns {
        width: 100%;
        margin-top: 1rem;
    }
    .logout-fretes {
        padding: 6.4rem 3.2rem;
    }
}
